body{
    background-color: rgb(81, 179, 192);
}
button{
    margin-top: 50vh;
    margin-left: 100vh;
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    border: none;
}
button:hover{
    color: black;
    background-color: white;
}
